<h1>Listing article_types</h1>

<h3 style="color: red; text-shadow: 1px 1px 5px black,1px 1px 0 #535353, -1px -1px 0 #535353, -1px 1px 0 #535353, 1px -1px 0 #535353">Don't mess with this!</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @article_types.each do |article_type| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= article_type.name %></td>
    <td><%= article_type.description %></td>
    <td><%= article_type.published %></td>
    <td><%= link_to 'Show', article_type %></td>
    <td><%= link_to 'Edit', edit_article_type_path(article_type) %></td>
    <td><%= link_to 'Destroy', article_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article type', new_article_type_path %>
