<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article_type.description %>
</p>

<p>
  <b>Published:</b>
  <%= @article_type.published %>
</p>


<%= link_to 'Edit', edit_article_type_path(@article_type) %> |
<%= link_to 'Back', article_types_path %>
