<div class="admin">
  <h2>Listing Articles</h2>

  <table border='0'>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Body</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @articles.each do |article| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= article.title.html_safe unless article.title.blank? %></td>
        <td><%= article.article_type.name.html_safe unless article.article_type.blank? %></td>
        <td><%= "#{article.body[0..30]} ...".html_safe unless article.body.blank? %></td>
        <td><%= article.image_url %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>

  <%= link_to 'New Article', new_article_path %>
</div>