<div class="blog">
  <% @welcomes.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article, :type => "welcomes"} %>
  <% end %>
  <% @abouts.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article, :type => "abouts"} %>
  <% end %>
  <% @contacts.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article, :type => "contacts"} %>
  <% end %>
  <% @blogs.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article, :type => "blogs"} %>
  <% end %>
  <% @interviews.each do |article| %>
    <%=  render :partial => "welcome/show", :locals => {:article => article, :type => "interviews"} %>
  <% end %>
</div>
