<!DOCTYPE html>
<html>
<head>
  <title>Bidingtime</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="mainPageHeader">
  <%= link_to(image_tag(image_path("HeaderImageFinal.jpg"), :class => "header_image"), root_path) %>
  <!--<h1 class=blue>Biding Time</h1>-->
</div>

<div id="topNavbar" class="neon">
  <ul>
    <li class="flickerEffect">
      <a href="" class="flickerEffect">About</a>
    </li>
    <li>
      <%= link_to "Blogs", root_url(:blogs => "view"), :class => "active flickerEffect" %>
    </li>
    <li>
      <%= link_to "Interviews", root_url(:interviews => "view"), :class => "active flickerEffect" %>
    </li>
    <li>
      <%= link_to "Photographic Essays", root_url(:essays => "view"), :class => "active flickerEffect" %>
    </li>
    <li>
      <a href="">Contact</a>
    </li>
    <li>
      <%#= link_to("Login", {:controller => "sessions", :action => "new"}) unless current_user %>
      <%#= link_to("or Create Account", {:controller => "users", :action => "new"}) unless current_user %>
      <%= link_to("Logout", logout_path) unless current_user.nil? %>
    </li>
  </ul>
</div>

<div id="mainContentTop">
  <div id="leftColumn">
    <div class="leftNavBar neon">
      <ul>
        <li>
          <a href="">Follow Twitter</a>
        </li>
        <li>
          <a href="">IMDB</a>
        </li>
        <li>
          <a href="">FB Like</a>
        </li>
        <li>
          <a href="">Send</a>
        </li>
      </ul>
    </div>
    <div class="leftNavBar neon">
      <ul>
        <li>
          <a href="">Blog Archives</a>
        </li>
      </ul>
    </div>
    <div class="leftNavBar neon">
      <ul>
        <li>
          <a href="">Interview Archives</a>
        </li>
      </ul>
    </div>
    <div class="leftNavBar neon">
      <ul>
        <li>
          <a href="">Photo Essay Archives</a>
        </li>
      </ul>
    </div>
    <% if can? :manage, :all %>
      <div class="leftNavBar neon">
        <ul>
          <li>
            <%= link_to("Admin", admin_path) %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div id="mainArticlesSection">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
</div>

<div id="mainContentBottom"></div>

<div id="footer">

</div>

</body>
</html>

<script>
  $('a').hover(
      function () {
        $(this).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.25'}, 100);
      },
      function () {
        $(this)
            .animate({'opacity':'1.0'}, 200);
      }
  );
  $('a').hover(
      function () {
        $(this).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.25'}, 100);
      },
      function () {
        $(this)
            .animate({'opacity':'1.0'}, 200);
      }
  );
</script>
