<!DOCTYPE html>
<html>
<head>
  <title>Bidingtime</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="mainPageHeader">
  <%= link_to(image_tag(image_path("top_header20.jpg"), :class => "header_image"), root_path) %>
</div>
<div id="topNavbar" class="neon">
  <%= render :partial => "layouts/top_nav_bar" %>
</div>

<div id="mainContent">
  <div id="leftColumn">
    <%= render :partial => 'layouts/left_nav_bar' %>
  </div>
  <div id="mainArticlesSection">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">
    <%=  render :partial => 'layouts/footer' %>
  </div>
</div>

</body>
</html>

<script>
  $('a.flickerEffect').hover(
      function () {
        $(this).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.25'}, 100);
      },
      function () {
        if( $(this).is(':animated') ) {return;}
        $(this).
            animate({'opacity':'0.55'}, 50).
            animate({'opacity':'0.75'}, 50).
            animate({'opacity':'0.55'}, 50).
            animate({'opacity':'1.0'}, 100)
        ;
      }
  );
  $('a.flickerEffect').hover(
      function () {
        if( $(this).is(':animated') ) {return;}
        $(this).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.55'}, 50).animate({'opacity':'0.75'}, 50).animate({'opacity':'0.25'}, 100);
      },
      function () {
        $(this).
            animate({'opacity':'1.0'}, 100)
        ;
      }
  );
</script>

